h1 {
    background-image: linear-gradient(to left, rgb(0, 146, 70), rgb(206, 43, 55));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 70px;
}

p {
    text-align: center;
    font-size: 20px;
}